<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.findtheletter.jetlightstudio.tpappigmo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".CalculatorActivity" />
        <activity android:name=".ActionBarActivity" />
        <activity android:name=".CompterActivity" />
        <activity android:name=".Compteur" />
        <activity android:name=".Calculator2Activity" />
        <activity android:name=".MoyenneActivity" />
        <activity android:name=".ReussiteActivity" />
        <activity android:name=".RecaleActivity" />
        <activity android:name=".CustomThemeActivity" />
        <activity android:name=".DetailPortraitActivity" />
        <activity android:name=".Tp5Exo1FerenhiteToCelsusActivity" />
        <activity android:name=".Tp5Exo1Part2Activity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ApplySettingsActivity"/>
        <activity android:name=".Tp5Exo2ListViewActivity"/>
        <activity android:name=".Tp5Exo3Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>